name: GitHub Metrics

on:
  push:
    branches: ["main"]
  schedule:
    - cron: "0 0 * * *"

jobs:
  metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Metrics embed
        uses: lowlighter/metrics@v3.34
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filename: metrics.svg
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          plugin_streak: yes
          plugin_languages: yes
          plugin_contributions: yes
          plugin_leetcode: yes
          plugin_leetcode_username: "yparmar"
          plugin_leetcode_display_name: "LeetCode"
          plugin_leetcode_show_ranking: true
